function Power.calculate 2
push constant 0
pop local 0
push constant 1
pop local 1
label WHILE_EXP0
push local 0
push argument 1
lt
not
if-goto WHILE_END0
push local 1
push argument 0
call Math.multiply 2
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 1
return
function Power.qsort 6
push argument 1
push constant 2
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
return
label IF_FALSE0
push constant 0
pop local 0
push constant 0
pop local 1
push argument 1
call Array.new 1
pop local 4
push argument 1
call Array.new 1
pop local 5
push constant 1
pop local 2
push constant 0
push argument 0
add
pop pointer 1
push that 0
pop local 3
label WHILE_EXP0
push local 2
push argument 1
lt
not
if-goto WHILE_END0
push local 2
push argument 0
add
pop pointer 1
push that 0
push local 3
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push local 4
add
push local 2
push argument 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto IF_END1
label IF_FALSE1
push local 1
push local 5
add
push local 2
push argument 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
label IF_END1
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push local 4
push local 0
call Power.qsort 2
pop local 4
push local 5
push local 1
call Power.qsort 2
pop local 5
push constant 0
pop local 2
label WHILE_EXP1
push local 2
push local 0
lt
not
if-goto WHILE_END1
push local 2
push argument 0
add
push local 2
push local 4
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP1
label WHILE_END1
push local 0
push argument 0
add
push local 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
pop local 2
label WHILE_EXP2
push local 2
push local 1
lt
not
if-goto WHILE_END2
push local 0
push constant 1
add
push local 2
add
push argument 0
add
push local 2
push local 5
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP2
label WHILE_END2
push argument 0
return
