function Vint.len 0
push argument 0
pop pointer 0
push this 1
return
function Vint.new 1
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
pop local 0
goto IF_END0
label IF_FALSE0
push constant 2
push argument 0
call Power.calculate 2
pop local 0
label IF_END0
push local 0
pop this 1
push local 0
call Array.new 1
pop this 0
push pointer 0
return
function Vint.set 0
push argument 0
pop pointer 0
push argument 1
push this 1
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push this 0
add
push argument 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE0
push constant 0
return
function Vint.get 0
push argument 0
pop pointer 0
push argument 1
push this 1
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push this 0
add
pop pointer 1
push that 0
return
label IF_FALSE0
push constant 15000
neg
return
function Vint.resize 5
push argument 0
pop pointer 0
push argument 1
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
pop local 0
goto IF_END0
label IF_FALSE0
push constant 2
push argument 1
call Power.calculate 2
pop local 0
label IF_END0
push local 0
push this 1
call Math.min 2
pop local 1
push local 0
pop this 1
push this 1
call Array.new 1
pop local 4
push constant 0
pop local 3
label WHILE_EXP0
push local 3
push local 1
lt
not
if-goto WHILE_END0
push local 3
push local 4
add
push local 3
push this 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 3
push constant 1
add
pop local 3
goto WHILE_EXP0
label WHILE_END0
push local 4
pop this 0
push constant 0
return
function Vint.is_eq 2
push argument 0
call Vint.len 1
push argument 1
call Vint.len 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
call Vint.len 1
pop local 1
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push local 1
lt
not
if-goto WHILE_END0
push argument 0
push local 0
call Vint.get 2
push argument 1
push local 0
call Vint.get 2
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Vint.elems 0
push argument 0
push argument 0
call Vint.len 1
call Power.qsort 2
pop temp 0
push argument 1
push argument 1
call Vint.len 1
call Power.qsort 2
pop temp 0
push argument 0
push argument 1
call Vint.is_eq 2
return
