function Graph.f 1
push argument 0
push argument 0
call Math.multiply 2
pop local 0
push local 0
return
function Graph.draw_lines 0
push constant 0
push constant 127
push constant 255
push constant 127
call Screen.drawLine 4
pop temp 0
push constant 127
push constant 0
push constant 127
push constant 255
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Graph.draw 5
call Graph.draw_lines 0
pop temp 0
push constant 32
neg
pop local 4
label WHILE_EXP0
push local 4
push constant 32
lt
not
if-goto WHILE_END0
push local 4
pop local 0
push local 4
push constant 1
add
pop local 1
push local 0
call Graph.f 1
pop local 2
push local 1
call Graph.f 1
pop local 3
push local 2
push constant 33
neg
gt
push local 2
push constant 33
lt
and
push local 3
push constant 33
neg
gt
push local 3
push constant 33
lt
and
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 4
push local 0
call Math.multiply 2
push constant 128
add
push constant 255
push constant 4
neg
push local 2
call Math.multiply 2
push constant 128
add
call Math.min 2
push constant 4
push local 1
call Math.multiply 2
push constant 128
add
push constant 255
push constant 4
neg
push local 3
call Math.multiply 2
push constant 128
add
call Math.min 2
call Screen.drawLine 4
pop temp 0
label IF_FALSE0
push local 4
push constant 1
add
pop local 4
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
